<!-- <input type="tel" mask="(00) 0 0000-0000" placeholder="Tel" /> -->

<!-- --------------------------------------------------------------------------------------- -->
<form [formGroup]="addressForm" novalidate class="zica">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Cadastrar central Ip</mat-card-title>
      <!-- <button (click)="data()">data</button> -->
    </mat-card-header>
    <mat-card-content style="margin-top: 15px;">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Razão social - Max 20 caracteres"
              formControlName="razaoSocial"
              maxlength="20"
            />
            <mat-error
              *ngIf="addressForm.controls['razaoSocial'].hasError('required')"
            >
              Razão social <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="!hasUnitNumber">
        <div class="col"></div>
      </div>

      <!-- inputmode="numeric"
      [dropSpecialCharacters]="false"
      mask="IP" -->

      <div class="row" fxLayout.xs="column">
        <mat-form-field class="col">
          <input
            id="input-ip"
            matInput
            placeholder="172.16.233.1"
            formControlName="ipCentral"
          />
          <mat-error
            *ngIf="addressForm.controls['ipCentral'].hasError('required')"
          >
            Ip central <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col">
          <input
            matInput
            placeholder="Usuário SSH:"
            formControlName="usuario"
          />
          <mat-error
            *ngIf="addressForm.controls['usuario'].hasError('required')"
          >
            Usuário SSH:
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <input
            matInput
            placeholder="Senha SSH:"
            formControlName="senha"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="addressForm.controls['senha'].hasError('required')">
            Senha SSH:
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <input
            matInput
            placeholder="Porta SSH:   22"
            formControlName="porta"
            type="number"
          />
          <mat-error *ngIf="addressForm.controls['porta'].hasError('required')">
            Porta SSH:
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-select placeholder="Versão Asterisk" formControlName="asterisk">
            <mat-option *ngFor="let aqui of versao" [value]="aqui.central">
              {{ aqui.central }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="addressForm.controls['asterisk'].hasError('required')"
          >
            Versão Asterisk<strong> required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col"></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        routerLink="listacliente"
        style="margin-left: 10px;"
        mat-raised-button
        size="small"
        color="primary"
        (click)="addCadastro()"
        *ngIf="!addressForm.hasError('required', 'razaoSocial') && !addressForm.hasError('required', 'ipCentral')
        && !addressForm.hasError('required', 'usuario') && !addressForm.hasError('required', 'senha') && !addressForm.hasError('required', 'asterisk') && !addressForm.hasError('required', 'porta')
        "
      >
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
<!-- --------------------------------------------------------------------------------------- -->

<!-- JavaScript Bundle with Popper -->
<!-- (click)="addCadastro()" -->
<!-- *ngIf="!addressForm.hasError('required',  'razaoSocial' &&  'cidade' && 'estado' && 'ipCentral' && 'usuario' && 'senha' && 'asterisk' && 'porta' )" -->
<!-- pattern=['matchRegexp:^(?=\\d+\\.\\d+\\.\\d+\\.\\d+$)(?:(?:25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\\.?){4}$'] -->

<!-- <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cidade:" formControlName="cidade" />
            <mat-error
              *ngIf="addressForm.controls['cidade'].hasError('required')"
            >
              Cidade <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Contato:" formControlName="telefone" />
            <mat-error
              *ngIf="addressForm.controls['telefone'].hasError('required')"
            >
              Contato <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Estado (UF)" formControlName="estado">
              <mat-option *ngFor="let state of states" [value]="state.sigla">
                {{ state.nome }} <span> - </span> {{state.sigla}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="addressForm.controls['estado'].hasError('required')"
            >
              Estado <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div> -->
